<div class="landing-page">

  <div class="bg-dark">
    <div class="container">
      <!-- Header Section -->
      <header class="section header bg-dark shadow">
        <nav class="navbar navbar-expand-lg navbar-dark container">
          <div class="row w-100">
            <!-- Columna izquierda (Logo) -->
            <div class="col-4 d-flex align-items-center">
              <a class="header-title navbar-brand" href="#">Dilvant</a>
            </div>

            <!-- Columna central (Menú de navegación) -->
            <div class="col-4 d-flex justify-content-center">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav custom-nav">
                  <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Menú</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Reservas</a></li>
                </ul>
              </div>
            </div>

            <!-- Columna derecha (Botón) -->
            <div class="col-4 d-flex align-items-center justify-content-end">
              <button type="button" class="btn btn-warning rounded-pill text-white header-btn">Contacto</button>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </div>

  <!-- Section 1 -->
  <section id="section1" class="section-one diagonal-section py-5 bg-white text-white">
    <div class="container">
      <div class="row align-items-center">
        <!-- Bloque izquierdo (Título y descripción) -->
        <div class="col-lg-6">
          <h2 class="section-one-title mb-4">Haz crecer tu amor por la comida peruana.</h2>
          <p class="section-one-description mb-4">Sumérgete en la cultura peruana a través de nuestra <br> deliciosa
            comida.</p>
          <button type="button" class="btn btn-outline-warning rounded-pill btn-lg section-one-btn">Nuestra nueva
            carta.</button>
        </div>
        <!-- Bloque derecho (Imagen) -->
        <div class="col-lg-6">
          <img src="/restaurante-peruano.png" class="section-one-img img-fluid" alt="Platos Peruanos">
        </div>
      </div>
    </div>
  </section>

  <!-- Section 2 -->
  <section id="section2" class="section-two py-5">
    <div class="container">
      <!-- Flexbox para distribuir el título a la izquierda y el texto a la derecha -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="section-two-title mb-0">Recetas Peruanas Populares</h2>
        <p class="mb-0 text-warning section-two-description">Explora Todos los Platos
        </p>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
        <div class="col">
          <div class="card position-relative">
            <img src="/postre-peruano.png" class="card-img-top" alt="Postre Peruano">
            <div class="card-body position-absolute top-0 start-0 p-3 text-white">
              <p class="card-text p-2 rounded">Postres Peruanos</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="/plato-de-causa-rellena.png" class="card-img-top" alt="Postre Peruano">
            <div class="card-body position-absolute top-0 start-0 p-3 text-white">
              <p class="card-text p-2 rounded">Causa Rellena</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="/plato-de-lomo-saltado.png" class="card-img-top" alt="Postre Peruano">
            <div class="card-body position-absolute top-0 start-0 p-3 text-white">
              <p class="card-text p-2 rounded">Aji de Gallina</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="/pisco-sour.png" class="card-img-top" alt="Postre Peruano">
            <div class="card-body position-absolute top-0 start-0 p-3 text-white">
              <p class="card-text p-2 rounded">Pisco Sour</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card position-relative">
            <img src="/plato-de-ceviche.png" class="card-img-top" alt="Postre Peruano">
            <div class="card-body position-absolute top-0 start-0 p-3 text-white">
              <p class="card-text p-2 rounded">Ceviche</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 3 -->
  <section id="section3" class="section-three py-5 bg-dark text-white">
    <div class="container">
      <div class="row align-items-center">
        <!-- Bloque izquierdo (Título y descripción) -->
        <div class="col-lg-6">
          <br>
          <h2 class="section-three-title mb-4">Plato de la temporada</h2>
          <p class="section-three-description">Descubre el sabor auténtico de Perú con nuestro anticucho de temporada.
            Este plato, lleno de tradición, combina tiernos trozos de corazón de res marinados en especias, servidos con
            una salsa de ají y acompañados de papas doradas. Una experiencia culinaria que te transportará a las calles
            de Lima.</p>
          <br>
        </div>
        <!-- Bloque derecho (Imagen) -->
        <div class="col-lg-6">
          <img src="/plato-de-anticucho.png" class="section-three-img img-fluid" alt="Platos Peruanos">
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section id="section4" class="section-four py-5">
    <div class="container text-center">
      <br>
      <h2 class="section-four-title mb-5">¿Cómo funciona? Elige tu plato favorito.</h2>
      <br>
      <div class="row custom-row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="/plato-de-comida.png" class="section-four-img img-fluid w-25" alt="">
              </h5>
              <p class="card-text custom-card-text">Ofrecemos platos que combinan tradición y modernidad, diseñados<br>
                para deleitar tu paladar.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="/restaurante.png" class="section-four-img img-fluid w-25" alt="">
              </h5>
              <p class="card-text custom-card-text">Disfruta de un ambiente acogedor mientras degustas nuestros<br>
                sabrosos platos.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="/chefs.png" class="section-four-img img-fluid w-25" alt="">
              </h5>
              <p class="card-text custom-card-text">La excelencia de la cocina <br> peruana se refleja en nuestros<br>
                platos.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>

  <!-- Section 5 -->
  <section id="section5" class="section-five py-5 text-white">
    <div class="container">
      <div class="row align-items-center">
        <!-- Bloque izquierdo (Título y descripción) -->
        <div class="col-lg-8">
          <h2 class="section-five-title mb-4">Una experiencia única</h2>
          <p class="section-five-description">En nuestro restaurante, ofrecemos una experiencia culinaria única con los
            mejores <br> platos de la
            gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, <br> cada bocado es una explosión de
            sabor. Ven y disfruta de un ambiente acogedor <br> mientras saboreas nuestras especialidades.</p>
        </div>
        <!-- Bloque derecho (Imagen) -->
        <div class="col-lg-4">
          <img src="/experiencia-culinaria.png" class="section-five-img img-fluid" alt="Comida Peruana">
        </div>
      </div>
    </div>
  </section>

  <!-- Section 6 -->
  <section id="section6" class="section-six diagonal-section-six py-5 bg-white text-white">
    <div class="container">
      <div class="row align-items-center mt-5">
        <!-- Bloque izquierdo (Imagen) -->
        <div class="col-lg-6">
          <img src="/mesa-con-menu-de-comida.png" class="section-six-img img-fluid" alt="Testimonio">
        </div>
        <!-- Bloque derecho (Título, Descripción y Botón) -->
        <div class="col-lg-6 text-center text-lg-start">
          <h2 class="section-six-title mb-4">Reserva hoy mismo.</h2>
          <p class="section-six-description mb-4">Disfruta de una mezcla de sabores peruanos en cada <br> bocado.</p>
          <button type="button" class="btn btn-outline-warning btn-lg rounded-pill section-six-btn">Reservar</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 7 -->
  <section id="section7" class="section py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-12 col-md-3 footer-logo mb-4 mb-md-0">
          <p class="h4">Dilvant</p>
        </div>

        <!-- Sección Platos Estrella -->
        <div class="col-12 col-md-3 text-left mb-4 mb-md-0">
          <div class="d-flex flex-column">
            <p class="mb-3 mt-3 footer-title">Platos Estrellas</p>
            <p class="mb-3 footer-option">Ceviche</p>
            <p class="mb-3 footer-option">Lomo Saltado</p>
            <p class="mb-3 footer-option">Ají de Gallina</p>
          </div>
        </div>

        <!-- Sección Contacto -->
        <div class="col-12 col-md-3 text-left mb-4 mb-md-0">
          <div class="d-flex flex-column">
            <p class="mb-3 mt-3 footer-title">Contacto</p>
            <p class="mb-3 footer-option">+51 999 999 999</p>
            <p class="mb-3 footer-option">dilvant.restaurante&#64;gmail.com</p>
          </div>
        </div>

        <!-- Sección Encuéntranos -->
        <div class="col-12 col-md-3 text-left">
          <div class="d-flex flex-column">
            <p class="mb-3 mt-3 footer-title">Encuéntranos</p>
            <p class="mb-3 footer-option">Av. Dirección 1</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="section footer py-3 bg-dark text-white text-center">
    <p class="mb-0">Plantilla hecha por Dilvant - 2024</p>
  </footer>
</div>